# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ShottingEx.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\unity\bigcat\ex2\ShottingEx\.idea\.idea.ShottingEx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
